<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <div class="wrapper">
        <div class="chat-container">
            <div class="messages" id="messageList">
                <div class="message">Hi</div>
                <div class="message">Hi, how are you?</div>
            </div>
            <div class="input-area">
                <input type="text" id="msgInput" placeholder="Message..." />
                <button id="sendBtn" type="button">Send</button>
            </div>
        </div>

        <div class="side-panel">
            <input class="js-msg-id" type="text" placeholder="Search your message by id">
            <button class="js-my-msg" type="button">My messages</button>
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>
